@page
@model LolTrack.Pages.CRUDMatch.CreateMatchModel
@{
}

<form method="post">
    <div class="form-group">
        <label asp-for="@Model.Match.MatchID" class="control-label"></label>
        <input asp-for="@Model.Match.MatchID" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Match.Win" class="control-label"></label>
        <input asp-for="@Model.Match.Win" class="control-label" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Match.Kills" class="control-label"></label>
        <input asp-for="@Model.Match.Kills" class="control-label" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Match.Deaths" class="control-label"></label>
        <input asp-for="@Model.Match.Deaths" class="control-label" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Match.Assists" class="control-label"></label>
        <input asp-for="@Model.Match.Assists" class="control-label" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Match.KDA" class="control-label"></label>
        <input asp-for="@Model.Match.KDA" class="control-label" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Match.Visionscore" class="control-label"></label>
        <input asp-for="@Model.Match.Visionscore" class="control-label" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Match.LaneType" class="control-label"></label>
        <input asp-for="@Model.Match.LaneType" class="control-label" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Match.Items" class="control-label"></label>
        <input asp-for="@Model.Match.Items" class="control-label" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Match.Champions" class="control-label"></label>
        <input asp-for="@Model.Match.Champions" class="control-label" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Match.SSpells" class="control-label"></label>
        <input asp-for="@Model.Match.SSpells" class="control-label" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Match.Minions" class="control-label"></label>
        <input asp-for="@Model.Match.Minions" class="control-label" />
    </div>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
    


</form>