@page
@model LolTrack.Pages.CRUDMatch.GetAllMatchesModel
@{
}

<h1>Matches</h1>

<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>
                MatchID
            </th>
            <th>
                Win
            </th>
            <th>
                Kills
            </th>
            <th>
                Deaths
            </th>
            <th>
                Assists
            </th>
            <th>
                KDA
            </th>
            <th>
                VisionScore
            </th>
            <th>
                Minions
            </th>
            <th>
                LaneType
            </th>
            <th>
                Items
            </th>
            <th>
                Champions
            </th>
            <th>
                Runes
            </th>
            <th>
                SSpells
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var match in Model._matches)
        {
            <tr>
                <td>
                    @match.MatchID
                </td>
                <td>
                    @match.Win
                </td>
                <td>
                    @match.Kills
                </td>
                <td>
                    @match.Deaths
                </td>
                <td>
                    @match.Assists
                </td>
                <td>
                    @match.KDA
                </td>
                <td>
                    @match.Visionscore
                </td>
                <td>
                    @match.Minions
                </td>
                <td>
                    @match.LaneType
                </td>
                <td>
                    @match.Items
                </td>
                <td>
                    @match.Champions
                </td>
                <td>
                    @match.SSpells
                </td>

            </tr>
        }
    </tbody>


</table>

<p>
    <a class="btn btn-primary" asp-page="CreateMatch">Create new Match</a>
</p>
