@page
@model LolTrack.Pages.CRUDPlayer.PlayerCompareModel
@{
}
<body>
    <h1 class="StatBox" style="position:center; margin-top: 10px; margin-left: 10%">Comparing table</h1>
<div class="profile-container">
        <table class="StatBox" style="position:center; margin-top: 10px; margin-left: 10%">
        <tr>
            <th style="width:50%">Name</th>
            <th>
                @Model.player.PlayerName
            </th>
            <th>
                @Model.userplayer.PlayerName
            </th>

        </tr>
        <tr>
            <td>TotalMatch</td>
            <td>
                @Model.player.TotalMatch
            </td>
            <td>
                @Model.userplayer.TotalMatch    
            </td>
        </tr>
        <tr>
            <td>TotalWins</td>
            <td>
                @Model.player.TotalWins
            </td>
            <td>
                @Model.userplayer.TotalWins
            </td>
        </tr>
        <tr>
            <td>TotalLosses</td>
            <td>
                @Model.player.TotalLosses
            </td>
            <td>
                @Model.userplayer.TotalLosses
            </td>
        </tr>
        <tr>
            <td>Win%</td>
            <td>
                @Model.player.WinPerC
            </td>
            <td>
                @Model.userplayer.WinPerC
            </td>
        </tr>
        <tr>
            <td>KDA</td>
            <td>
                @Model.player.KDA
            </td>
            <td>
                @Model.userplayer.KDA
            </td>
        </tr>
        <tr>
            <td>AvgVision</td>
            <td>
                @Model.player.AvgVision
            </td>
            <td>
                @Model.userplayer.AvgVision
            </td>
        </tr>
    </table>
</div>
</body>

<style>
    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border: 5px ridge #efdc9e;
        background: linear-gradient(#486144ff, #374f44ff)
    }

    th, td {
        text-align: center;
        padding: 16px;
    }

    th:first-child, td:first-child {
            text-align: center;
    }
     tr:nth-child(even){
        border: 2px solid #efdc9e;
    }

</style>