@page
@model LolTrack.Pages.CRUDPlayer.PlayerProfileModel
@{
}
<head>
    <h1 class="StatBox" style="position:center; margin-top: 10px; margin-left: 10%">Player Profile</h1>
    <a class="backbtn" type="button" title="back" style="margin-left: 45%" asp-page="PlayerCompare" asp-route-id="@Model.player.PlayerID">Compare</a>
</head>
<div class="col-4" style="margin-top:10px; margin-left: 33%">
<form method="post" class="form-inline">
    <div class="input-group mb-3">
        <input asp-for="SearchStr" class="form-control mr-1" placeholder="Enter Search" />
        <input type="submit" asp-page-handler="PlayerSearch" value="Search" class="backbtn" />
    </div>
</form>
    </div>
<div class="detailcontainer">
    <table class="StatBox" style="width: 15%; margin-left: 10%;">
        @if (Model.player.PlayerID != null) 
        {
            <thead>
        <tr>
            <th style="text-align:left">Stats</th>
            <th>@Model.player.PlayerName</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td style="text-align:left">Matches</td>
            <td>@Model.player.TotalMatch</td>
        </tr>
        <tr>
            <td style ="text-align:left">Total Wins</td>
            <td>@Model.player.TotalWins</td>
        </tr>
        <tr>
            <td style ="text-align:left">Total Losses</td>
            <td>@Model.player.TotalLosses</td>
        </tr>
        <tr>
                <td style="text-align:left">Win Percentage</td>
            <td>@Model.player.WinPerC</td>
        </tr>
        <tr>
                <td style="text-align:left">KDA</td>
            <td>@Model.player.KDA</td>
        </tr>
        <tr>
                <td style="text-align:left">Average Vision</td>
            <td>@Model.player.AvgVision</td>
        </tr>
        </tbody>
    }
</table>


    <div>
        <table class="StatBox" style="width: 15%; left:33%; bottom: 280px;">
        <thead>
            <tr class="backtbn">
            <th>Kills</th>
            <th>Deaths</th>
            <th>Assists</th>
            <th>KDA</th>
            <th>VisionScore</th>
            <th>LaneType</th>
            <th>Champion</th>
            <th>SSpell</th>
            <th>Minions</th>
            </tr>
        </thead>
    @foreach (var p in Model.matches)
    {
    @if (p.PlayerMatchID == Model.player.PlayerID)
    {
        @if(p.Win == true)
        {
                        
                    
            <tbody>
                <tr class="MatchL" style="background: linear-gradient(green, darkgreen)">
                <td>@p.Kills</td>
                <td>@p.Deaths</td>
                <td>@p.Assists</td>
                <td>@p.KDA</td>
                <td>@p.Visionscore</td>
                <td>@p.LaneType</td>
                <td>@p.Champions</td>
                <td>@p.SSpells</td>
                <td>@p.Minions</td>
            </tr>
            </tbody>
        }
        @if(p.Win != true)
        {
            <tbody>
                            <tr class="MatchL" style="background: linear-gradient(red, maroon)">
                    <td>@p.Kills</td>
                    <td>@p.Deaths</td>
                    <td>@p.Assists</td>
                    <td>@p.KDA</td>
                    <td>@p.Visionscore</td>
                    <td>@p.LaneType</td>
                    <td>@p.Champions</td>
                    <td>@p.SSpells</td>
                    <td>@p.Minions</td>
                </tr>
            </tbody>
        }
    }
    }
</table>
</div>
</div>

