@page
@model LolTrack.Pages.CRUDChamp.CreateChampModel
@{
}

<form method="post">
    <div class="form-group">
        <label asp-for="@Model.champion.ChampName" class="control-lable"></label>
        <input asp-for="@Model.champion.ChampName" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="@Model.champion.Ability" class="control-lable"></label>
        <input asp-for="@Model.champion.Ability" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="@Model.champion.ChampDesc" class="control-lable"></label>
        <input asp-for="@Model.champion.ChampDesc" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.champion.Difficulty" class="control-lable"></label>
        <input asp-for="@Model.champion.Difficulty" class="form-control" />
    </div>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary"/>
    </div>
</form>